@font-face {
  font-family: 'interBold';
  src: url(../../fonts/inter/static/Inter_18pt-Bold.ttf);
}

@font-face {
  font-family: 'rokkittExtraBold';
  src: url(../../fonts/rokkitt/static/Rokkitt-ExtraBold.ttf);
}

@font-face {
  font-family: 'rokkittBold';
  src: url(../../fonts/rokkitt/static/Rokkitt-Bold.ttf);
}

@font-face {
  font-family: 'rokkittMedium';
  src: url(../../fonts/rokkitt/static/Rokkitt-Medium.ttf);
}

.title {
  h2 {
    font-family: 'interBold';
    margin-top: 21px;
    margin-bottom: 21px;
    text-align: center;
    font-size: 32px;
    color: white;
    line-height: 32px;
  }
}

.contForCard {
  width: 95%;
  min-height: 300px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  padding: 0 20px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;

  .card {
    box-sizing: border-box;
    width: calc((100% - 60px) / 4);
    background-color: rgb(217, 217, 217);
    padding: 4px 10px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(184, 184, 184);
    transition: all 150ms ease-in;

    section{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 7px;
      min-height: 390px;
    }

    &:hover {
      box-shadow: 0 5px 10px rgb(184, 184, 184);
    }

    img {
      width: 100%;
      height: 220px;
      cursor: pointer;
      user-select: none;
    }

    .nameProd {
      margin-top: 4px;
      border-top: 2px solid black;
      padding-top: 4px;

      h4 {
        margin: 0;
        font-family: 'rokkittBold';
        font-size: 20px;
        letter-spacing: -.8px;
        display: -webkit-inline-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        cursor: pointer;

        &:hover{
          text-decoration: underline;
        }
      }
    }

    .description {
      margin-top: 12px;

      p {
        margin: 0;
        font-family: 'rokkittMedium';
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .showMore{
      border: none;
      background-color: rgb(176, 176, 176);
      opacity: 0.7;
      cursor: pointer;
      border-radius: 3px;
      padding: 3px 0;
      font-family: 'rokkittBold';
      user-select: none;
    }

    .footerCard {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: auto;

      .price {
        margin-top: 10px;

        span {
          font-family: 'rokkittExtraBold';
          font-size: 20px;
        }
      }

      .addCart {
        margin-top: 5px;

        button {
          border: none;
          color: aliceblue;
          background-color: rgb(32, 32, 32);
          font-family: 'rokkittBold';
          font-size: 15px;
          border-radius: 10px;
          padding: 6px 10px;
          cursor: pointer;
          transition: all 130ms ease;
          user-select: none;

          &:hover{
            box-shadow: 0px 1px 1px black;
          }
        }
      }

      .deleteFromCart{
        button{
          border: none;
          font-size: 15px;
          padding: 6px 10px;
          font-family: 'rokkittBold';
          border-radius: 10px;
          color: aliceblue;
          background-color: rgb(207, 7, 7);
          cursor: pointer;
          transition: all 130ms ease;
          user-select: none;

          &:hover{
            box-shadow: 0px 1px 1px rgb(207, 7, 7);
          }
        }
      }
    }

    &.active {
      .description {
        p {
        -webkit-line-clamp: unset;
        line-clamp: unset;
        overflow: visible;
        }
      }
  
      .nameProd {
        h4 {
        -webkit-line-clamp: unset;
        line-clamp: unset;
        overflow: visible;
        }
      }
    }

    .imgWrap {
      position: relative;
      user-select: none;

      .pieces {
        position: absolute;
        top: 7px;
        right: 1px;
        z-index: 1;
        width: 35px;
        height: 35px;
        border-radius: 7px;
        background: rgb(94, 94, 94, 0.5);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
          font-family: 'rokkittBold';
          font-size: 32px;
        }
      }
    }
  }
}

#viAll{
  width: 40%;
  line-height: 25px;
  font-size: 22px;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 15px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'rokkittExtraBold';
  letter-spacing: 2px;
  user-select: none;
}