@use './mediaScr.scss';

body{
  margin: 0;
  background-color: black;
}
main {
  margin: 0;
  padding: 0;
}
html body *{
  ::selection {
    background: #636363;
    color: aliceblue;
  }
  ::-moz-selection {
    background: #636363;
    color: aliceblue;
  }
}